scheduled-calendar-sync-template/Microsoft.Flow/flows/d8480428-431d-44cf-bb69-48bcbb7573f9/definition.json
{"name":"bf941e4b-fbed-48e5-a704-7c9fc5f424b7","id":"/providers/Microsoft.Flow/flows/bf941e4b-fbed-48e5-a704-7c9fc5f424b7","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Calendar sync - scheduled","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"afcbdaac-ff2c-4d15-ac9e-bb15e7acba3b","type":"User","tenantId":"313a0986-a460-489d-ae2b-a1066b6f1734"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-05-24T20:19:37.7867154Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":6,"startTime":"2022-05-22T08:00:00.000Z"},"metadata":{"operationMetadataId":"195ec0ff-5d58-47d7-a877-c3138f3e03b7"},"type":"Recurrence"}},"actions":{"Get_source_events":{"runAfter":{},"metadata":{"operationMetadataId":"dd8ac984-2022-4fec-89e2-ca1423ecb218"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEventsCalendarViewV3"},"parameters":{"calendarId":"<source-calendar>","startDateTimeUtc":"@formatDateTime(utcNow())","endDateTimeUtc":"@addDays(formatDateTime(utcNow()), 60)","$filter":"showAs eq 'busy'","$orderby":"Start/DateTime asc"},"authentication":"@parameters('$authentication')"}},"Get_target_events":{"runAfter":{"Get_source_events":["Succeeded"]},"metadata":{"operationMetadataId":"2cfe8504-1f61-4731-88f8-0dbd38c248c8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEventsCalendarViewV3"},"parameters":{"calendarId":"<target-calendar>","startDateTimeUtc":"@formatDateTime(utcNow())","endDateTimeUtc":"@addDays(formatDateTime(utcNow()), 90)","$orderby":"Start/DateTime asc"},"authentication":"@parameters('$authentication')"}},"For_each_source_event":{"foreach":"@outputs('Get_source_events')?['body/value']","actions":{"Filter_out_replicated_event":{"runAfter":{"Print_out_source_event":["Succeeded"]},"metadata":{"operationMetadataId":"9b654756-9c33-4ae7-8fd2-10ed1ee1fbf4"},"type":"Query","inputs":{"from":"@outputs('Get_target_events')?['body/value']","where":"@contains(item()?['body'], items('For_each_source_event')?['id'])"}},"Replicated_event_found":{"actions":{"For_each_matching_replicated_event":{"foreach":"@body('Filter_out_replicated_event')","actions":{"Starttime_and_endtime_is_the_same":{"actions":{"[Update]_Filter_out_matching_event(s)":{"runAfter":{},"metadata":{"operationMetadataId":"100fe414-7f22-45d2-9306-094bfae1c40f"},"type":"Query","inputs":{"from":"@outputs('Get_target_events')?['body/value']","where":"@and(less(items('For_each_source_event')?['start'], item()?['end']),greater(items('For_each_source_event')?['end'],item()?['start']),not(contains(item()?['body'], items('For_each_source_event')?['id'])))"}},"[Update]_Conflicting_events_exist":{"actions":{},"runAfter":{"[Update]_Filter_out_matching_event(s)":["Succeeded"]},"else":{"actions":{"[Update]_Remove_conflict_from_title":{"runAfter":{},"metadata":{"operationMetadataId":"7636c808-f0fd-4c73-b72e-27341fab3dfb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPatchItem"},"parameters":{"table":"<target-calendar>","id":"@items('For_each_matching_replicated_event')?['id']","item/subject":"Upptagen","item/start":"@items('For_each_matching_replicated_event')?['start']","item/end":"@items('For_each_matching_replicated_event')?['end']","item/timeZone":"(UTC) Coordinated Universal Time","item/body":"<p>@{items('For_each_matching_replicated_event')?['body']}<br>\nFlow: Update event (no longer conflict)</p>","item/showAs":"oof"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(body('[Update]_Filter_out_matching_event(s)'))",0]},"metadata":{"operationMetadataId":"da321796-e4c6-4b48-bf7d-40c78c878c86"},"type":"If"}},"runAfter":{},"else":{"actions":{"[Update]_Filter_out_matching_event(s)_2":{"runAfter":{},"metadata":{"operationMetadataId":"03df7bbd-84ab-4b57-956c-a2a6dbedcee0"},"type":"Query","inputs":{"from":"@outputs('Get_target_events')?['body/value']","where":"@and(less(items('For_each_source_event')?['start'], item()?['end']),greater(items('For_each_source_event')?['end'],item()?['start']),not(contains(item()?['body'], items('For_each_source_event')?['id'])))"}},"[Update]_Conflicting_events_exist_2":{"actions":{"Create_HTML_table":{"runAfter":{"[Update]_Update_conflicting_event_":["Succeeded"]},"metadata":{"operationMetadataId":"353af88b-572b-4ed6-9a65-78a7b6a6da79"},"type":"Table","inputs":{"from":"@body('[Update]_Filter_out_matching_event(s)_2')","format":"HTML","columns":[{"header":"Subject","value":"@item()?['subject']"},{"header":"Starttime","value":"@item()?['start']"},{"header":"Endtime","value":"@item()?['end']"}]}},"Send_an_email_(V2)":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"843315ba-a5a2-4996-a0a9-348e005f976a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"<email>","emailMessage/Subject":"[Calendar sync] - Conflict in calendar on update","emailMessage/Body":"<p>Seems there's a calendar conflict when rescheduling event.<br>\n<br>\n<br>Assignment calendar event<br>\n<b>Subject: @{items('For_each_source_event')?['subject']}</b><br>\n<b>Starttime: </b>@{items('For_each_source_event')?['startWithTimeZone']}<br>\n<b>Endtime: </b>@{items('For_each_source_event')?['endWithTimeZone']}<br>\n<b>Link: </b><a href=\"@{items('For_each_source_event')?['webLink']}\">Calendar link</a><br>\n<br>\nConflicting event(s): @{body('Create_HTML_table')}\n</p>"},"authentication":"@parameters('$authentication')"}},"[Update]_Update_conflicting_event_":{"runAfter":{},"metadata":{"operationMetadataId":"01db8c23-893c-447a-b28e-3a4e614062dc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPatchItem"},"parameters":{"table":"<target-calendar>","id":"@items('For_each_matching_replicated_event')?['id']","item/subject":"[Konflikt] - Upptagen","item/start":"@items('For_each_source_event')?['start']","item/end":"@items('For_each_source_event')?['end']","item/timeZone":"(UTC) Coordinated Universal Time","item/body":"<p>Source calendarId: @{items('For_each_source_event')?['id']}<br>\nFlow: Update event (conflict time)</p>","item/showAs":"oof"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"[Update]_Filter_out_matching_event(s)_2":["Succeeded"]},"else":{"actions":{"[Update]_Update_event":{"runAfter":{},"metadata":{"operationMetadataId":"57935da0-24c3-448e-85e6-c8eacf7de7d6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPatchItem"},"parameters":{"table":"<target-calendar>","id":"@items('For_each_matching_replicated_event')?['id']","item/subject":"Upptagen","item/start":"@items('For_each_source_event')?['start']","item/end":"@items('For_each_source_event')?['end']","item/timeZone":"(UTC) Coordinated Universal Time","item/body":"<p>Source calendarId: @{items('For_each_source_event')?['id']}<br>\nFlow: Update event (new time)</p>","item/showAs":"oof"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(body('[Update]_Filter_out_matching_event(s)_2'))",0]},"metadata":{"operationMetadataId":"ed7d028a-fb9b-4ed1-a735-019850c32b30"},"type":"If"}}},"expression":{"and":[{"equals":["@items('For_each_source_event')?['start']","@items('For_each_matching_replicated_event')?['start']"]},{"equals":["@items('For_each_source_event')?['end']","@items('For_each_matching_replicated_event')?['end']"]}]},"metadata":{"operationMetadataId":"3b81068c-7375-4034-9fab-fc461bf680ce"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"428310cd-ddd9-4f2b-82fd-b017a13911da"},"type":"Foreach"}},"runAfter":{"Filter_out_replicated_event":["Succeeded"]},"else":{"actions":{"[Create]_Filter_out_matching_events":{"runAfter":{},"metadata":{"operationMetadataId":"6bf9100a-020f-4e32-a00f-8a66ee392846"},"type":"Query","inputs":{"from":"@outputs('Get_target_events')?['body/value']","where":"@and(less(items('For_each_source_event')?['start'], item()?['end']),greater(items('For_each_source_event')?['end'],item()?['start']))"}},"[Create]_Conflicting_events_exist":{"actions":{"[Create]_Create_conflicting_event":{"runAfter":{},"metadata":{"operationMetadataId":"612f3926-e6b4-4d9b-b5e7-f876ade679c0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"parameters":{"table":"<target-calendar>","item/subject":"[Konflikt] Upptagen","item/start":"@items('For_each_source_event')?['start']","item/end":"@items('For_each_source_event')?['end']","item/timeZone":"(UTC) Coordinated Universal Time","item/body":"<p>Assignment calendar id: @{items('For_each_source_event')?['id']}<br>\nFlow: Create conflicting event</p>","item/showAs":"oof"},"authentication":"@parameters('$authentication')"}},"[Create]_Create_HTML_table_with_conflicting_event(s)":{"runAfter":{"[Create]_Create_conflicting_event":["Succeeded"]},"metadata":{"operationMetadataId":"4e2f1a70-979f-4bcd-aa4d-d45304d71465"},"type":"Table","inputs":{"from":"@body('[Create]_Filter_out_matching_events')","format":"HTML","columns":[{"header":"Subject","value":"@item()?['subject']"},{"header":"Starttime","value":"@item()?['startWithTimeZone']"},{"header":"Endtime","value":"@item()?['endWithTimeZone']"}]}},"[Create]_Send_calendar_conflict_email":{"runAfter":{"[Create]_Create_HTML_table_with_conflicting_event(s)":["Succeeded"]},"metadata":{"operationMetadataId":"a2521bce-4ca8-4466-8544-e018b4e31f5e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"<email>","emailMessage/Subject":"[Calendar sync] - Conflict in calendar on create","emailMessage/Body":"<p>Seems like there's a calendar conflict. Note, all times are in UTC.\n<br>\n<br>Assignment calendar event<br>\n<b>Subject: </b>@{items('For_each_source_event')?['subject']}<br>\n<b>Starttime: </b>@{items('For_each_source_event')?['startWithTimeZone']}<br>\n<b>Endtime:</b>@{items('For_each_source_event')?['endWithTimeZone']}<br>\n<b>Link: </b><a href=\"@{items('For_each_source_event')?['webLink']}\">Calendar link</a><br>\n<br>\nConflicting event(s): @{body('[Create]_Create_HTML_table_with_conflicting_event(s)')}\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"[Create]_Filter_out_matching_events":["Succeeded"]},"else":{"actions":{"[Create]_Create_event":{"runAfter":{},"metadata":{"operationMetadataId":"d28eb00e-1052-4a5a-9fb5-74c7ad03ccf0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"parameters":{"table":"<target-calendar>","item/subject":"Upptagen","item/start":"@items('For_each_source_event')?['start']","item/end":"@items('For_each_source_event')?['end']","item/timeZone":"(UTC) Coordinated Universal Time","item/body":"<p>Assignment calendar id: @{items('For_each_source_event')?['id']}<br>\nFlow: Create event</p>","item/showAs":"oof"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(body('[Create]_Filter_out_matching_events'))",0]},"metadata":{"operationMetadataId":"529eef2f-97b1-4896-a073-4d54260069fc"},"type":"If"}}},"expression":{"greater":["@length(body('Filter_out_replicated_event'))",0]},"metadata":{"operationMetadataId":"32de78d6-8461-4a95-beca-3772469d13e9"},"type":"If"},"Print_out_source_event":{"runAfter":{},"metadata":{"operationMetadataId":"c879ccd0-280d-4209-a80d-0fbd8fc0d698"},"type":"Compose","inputs":"@items('For_each_source_event')"}},"runAfter":{"Get_target_events":["Succeeded"]},"metadata":{"operationMetadataId":"7e33b52a-af2e-4a57-af3e-859c185725ff"},"type":"Foreach"},"For_each_target_event":{"foreach":"@outputs('Get_replicated_target_events_after_modifications')?['body/value']","actions":{"Print_out_target_event":{"runAfter":{},"metadata":{"operationMetadataId":"13044e29-4734-4e58-aec0-85ec60542f54"},"type":"Compose","inputs":"@items('For_each_target_event')"},"[Delete]_Filter_out_replicated_event_by_start-_and_end-time":{"runAfter":{"Print_out_target_event":["Succeeded"]},"metadata":{"operationMetadataId":"18c46c28-1743-421f-9e75-67b5a2c494ee"},"type":"Query","inputs":{"from":"@outputs('Get_source_events')?['body/value']","where":"@and(less(items('For_each_target_event')?['start'], item()?['end']),greater(items('For_each_target_event')?['end'], item()?['start']),not(equals(item()?['showAs'], 'oof')))"}},"Event_exist_with_same_start_and_end_time":{"actions":{"[Delete]_Filter_out_replicas":{"runAfter":{},"metadata":{"operationMetadataId":"afcb153c-417e-4948-b11f-7561615e7745"},"type":"Query","inputs":{"from":"@body('[Delete]_Filter_out_replicated_event_by_start-_and_end-time')","where":"@not(contains(items('For_each_target_event')?['body'], item()?['id']))"}},"Compose":{"runAfter":{"[Delete]_Filter_out_replicas":["Succeeded"]},"metadata":{"operationMetadataId":"edd58f3c-2ef2-4913-b935-6d1fb7ca46c3"},"type":"Compose","inputs":"Start time list: @{length(body('[Delete]_Filter_out_replicated_event_by_start-_and_end-time'))}   without replica list:@{length(body('[Delete]_Filter_out_replicas'))}"},"Replica_does_exists":{"actions":{},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{"[Delete]_Remove_deleted_replica_event":{"runAfter":{},"metadata":{"operationMetadataId":"73920a06-9b47-4772-922e-3f99f3cc8636"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"CalendarDeleteItem_V2"},"parameters":{"calendar":"<target-calendar>","event":"@items('For_each_target_event')?['id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"not":{"equals":["@length(body('[Delete]_Filter_out_replicated_event_by_start-_and_end-time'))","@length(body('[Delete]_Filter_out_replicas'))"]}},"metadata":{"operationMetadataId":"966811aa-4dfa-41d9-9548-30fd76382c13"},"type":"If"}},"runAfter":{"[Delete]_Filter_out_replicated_event_by_start-_and_end-time":["Succeeded"]},"else":{"actions":{"Delete_event_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"b36f7549-8e56-41cb-b654-d34e34f3e8d8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"CalendarDeleteItem_V2"},"parameters":{"calendar":"<target-calendar>","event":"@items('For_each_target_event')?['id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(body('[Delete]_Filter_out_replicated_event_by_start-_and_end-time'))",0]},"metadata":{"operationMetadataId":"6fbad422-53fc-4b91-bc53-a9999899e262"},"type":"If"}},"runAfter":{"Get_replicated_target_events_after_modifications":["Succeeded"]},"metadata":{"operationMetadataId":"59227f27-33b3-4b70-9f87-9f0288906a2a"},"type":"Foreach"},"Get_replicated_target_events_after_modifications":{"runAfter":{"For_each_source_event":["Succeeded"]},"metadata":{"operationMetadataId":"2f014881-c6a7-4485-a03d-ec05ce1a21df"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEventsCalendarViewV3"},"parameters":{"calendarId":"<target-calendar>","startDateTimeUtc":"@formatDateTime(utcNow())","endDateTimeUtc":"@addDays(formatDateTime(utcNow()), 300)","$filter":"showAs eq 'oof'","$orderby":"Start/DateTime asc"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-2694fee7-d4fc-4e0b-9077-90eae929ca26","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}
